<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Header</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idHeaderUpload</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Title*:</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idFieldUpload</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
        </array>
        <array>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Announcement*:</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idFieldUpload</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
        </array>
        <array>
            <dict>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>Start Date*:</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>Start Time*:</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>End Date*:</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>End Time:</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>1</integer>
            </dict>
            </array>
<array>
            <dict>
                <key>type</key>
                <string>TimeZone</string>
                <key>oneCheck</key>
                <true/>
                <key>PST</key>
                <false/>
                <key>MST</key>
                <false/>
                <key>CST</key>
                <false/>
                <key>EST</key>
                <false/>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>Time Zone*:</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>4</integer>
            </dict>

            <dict>
                <key>propertyForParent</key>
                <string>PST</string>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>PST</string>
                <key>isChecked</key>
                <false/>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idChildCell</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>propertyForParent</key>
                <string>MST</string>

                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>MST</string>
                <key>isChecked</key>
                <false/>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idChildCell</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>propertyForParent</key>
                <string>CST</string>

                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>CST</string>
                <key>isChecked</key>
                <false/>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idChildCell</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>            <dict>
                <key>propertyForParent</key>
                <string>EST</string>

                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>EST</string>
                <key>isChecked</key>
                <false/>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idChildCell</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            </array>
<array>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>Title</key>
                <string>Share!</string>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>cellIdentifier</key>
                <string>idFilterButtonCell</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
        </array>
    </array>
</plist>
