<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Layout</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Vertical</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Horizontal</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Color</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Blue</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Pink</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Yellow</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Month</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>January</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>February</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>March</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>April</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>May</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>June</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>July</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>August</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>September</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>October</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>November</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>December</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Finish</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Matte</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Glossy</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Vinyl</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<true/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<true/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string></string>
		<key>secondaryTitle</key>
		<string>Up for Grabs</string>
		<key>cellIdentifier</key>
		<string>idCellNormal</string>
		<key>additionalRows</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Available</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>isExpandable</key>
		<false/>
		<key>isExpanded</key>
		<false/>
		<key>isVisible</key>
		<false/>
		<key>value</key>
		<string></string>
		<key>primaryTitle</key>
		<string>Not Available</string>
		<key>secondaryTitle</key>
		<string></string>
		<key>cellIdentifier</key>
		<string>idChildCell</string>
		<key>additionalRows</key>
		<integer>0</integer>
	</dict>
    <dict>
        <key>isExpandable</key>
        <false/>
        <key>isExpanded</key>
        <false/>
        <key>isVisible</key>
        <true/>
        <key>cellIdentifier</key>
        <string>idFilterButtonCell</string>
        <key>additionalRows</key>
        <integer>0</integer>
    </dict>
    
</array>
</plist>
