<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Header</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idHeaderUpload</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Title*:</string>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idFieldUpload</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
        <dict>
            <key>isExpandable</key>
            <true/>
            <key>isExpanded</key>
            <false/>
            <key>isVisible</key>
            <true/>
            <key>value</key>
            <string></string>
            <key>primaryTitle</key>
            <string></string>
            <key>secondaryTitle</key>
            <string>Shop*:</string>
            <key>cellIdentifier</key>
            <string>idCellNormal</string>
            <key>additionalRows</key>
            <integer>1</integer>
        </dict>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Shop*:</string>
			<key>isLast</key>
			<true/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idFieldUpload</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>oneCheck</key>
			<true/>
			<key>type</key>
			<string>Layout</string>
			<key>Horizontal</key>
			<false/>
			<key>Vertical</key>
			<false/>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Layout*:</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Vertical</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Vertical</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Horizontal</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Horizontal</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>type</key>
			<string>Color</string>
			<key>Yellow</key>
			<false/>
			<key>Pink</key>
			<false/>
			<key>Blue</key>
			<false/>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Color*:</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Blue</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Blue</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Pink</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Pink</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Yellow</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Yellow</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
        </array>
        <array>
		<dict>
			<key>oneCheck</key>
			<false/>
			<key>type</key>
			<string>Month</string>
			<key>December</key>
			<false/>
			<key>November</key>
			<false/>
			<key>October</key>
			<false/>
			<key>September</key>
			<false/>
			<key>August</key>
			<false/>
			<key>July</key>
			<false/>
			<key>June</key>
			<false/>
			<key>May</key>
			<false/>
			<key>April</key>
			<false/>
			<key>March</key>
			<false/>
			<key>February</key>
			<false/>
			<key>January</key>
			<false/>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Month*:</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>January</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>January</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>February</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>February</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>March</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>March</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>April</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>April</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>May</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>May</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>June</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>June</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>July</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>July</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>August</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>August</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>September</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>September</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>October</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>October</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>November</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>November</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>December</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>December</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>oneCheck</key>
			<true/>
			<key>type</key>
			<string>Finish</string>
			<key>Vinyl</key>
			<false/>
			<key>Glossy</key>
			<false/>
			<key>Matte</key>
			<false/>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Finish*:</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Matte</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Matte</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Glossy</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Glossy</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Vinyl</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Vinyl</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>oneCheck</key>
			<true/>
			<key>type</key>
			<string>Grab</string>
			<key>Not Available</key>
			<false/>
			<key>Available</key>
			<false/>
			<key>isExpandable</key>
			<true/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string></string>
			<key>secondaryTitle</key>
			<string>Up for Grabs*:</string>
			<key>cellIdentifier</key>
			<string>idCellNormal</string>
			<key>additionalRows</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Available</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Available</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>propertyForParent</key>
			<string>Not Available</string>
			<key>isExpandable</key>
			<false/>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<false/>
			<key>value</key>
			<string></string>
			<key>primaryTitle</key>
			<string>Not Available</string>
			<key>isChecked</key>
			<false/>
			<key>secondaryTitle</key>
			<string></string>
			<key>cellIdentifier</key>
			<string>idChildCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>isExpandable</key>
			<false/>
			<key>Title</key>
			<string>Share!</string>
			<key>isExpanded</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>cellIdentifier</key>
			<string>idFilterButtonCell</string>
			<key>additionalRows</key>
			<integer>0</integer>
		</dict>
	</array>
</array>
</plist>
